@import "tailwindcss";

:root {
  --background: #faf9f7;
  --foreground: #0e101a;
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e101a;
    --foreground: #faf9f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrollbars */
}